yolov8n.pt
.ipynb_checkpoints/train-checkpoint.ipynb
jg_detection/data/labels/train.cache
jg_detection/data/labels/val.cache
runs/detect/train/args.yaml
runs/detect/train2/args.yaml
runs/detect/train2/labels_correlogram.jpg
runs/detect/train2/labels.jpg
runs/detect/train3/args.yaml
runs/detect/train3/confusion_matrix_normalized.png
runs/detect/train3/confusion_matrix.png
runs/detect/train3/F1_curve.png
runs/detect/train3/labels_correlogram.jpg
runs/detect/train3/labels.jpg
runs/detect/train3/P_curve.png
runs/detect/train3/PR_curve.png
runs/detect/train3/R_curve.png
runs/detect/train3/results.csv
runs/detect/train3/results.png
runs/detect/train3/train_batch0.jpg
runs/detect/train3/train_batch1.jpg
runs/detect/train3/train_batch2.jpg
runs/detect/train3/train_batch630.jpg
runs/detect/train3/train_batch631.jpg
runs/detect/train3/train_batch632.jpg
runs/detect/train3/val_batch0_labels.jpg
runs/detect/train3/val_batch0_pred.jpg
runs/detect/train3/weights/best.pt
runs/detect/train3/weights/last.pt
ultralytics/__pycache__/__init__.cpython-39.pyc
ultralytics/cfg/__pycache__/__init__.cpython-39.pyc
ultralytics/data/__pycache__/__init__.cpython-39.pyc
ultralytics/data/__pycache__/augment.cpython-39.pyc
ultralytics/data/__pycache__/base.cpython-39.pyc
ultralytics/data/__pycache__/build.cpython-39.pyc
ultralytics/data/__pycache__/converter.cpython-39.pyc
ultralytics/data/__pycache__/dataset.cpython-39.pyc
ultralytics/data/__pycache__/loaders.cpython-39.pyc
ultralytics/data/__pycache__/utils.cpython-39.pyc
ultralytics/data/explorer/__pycache__/__init__.cpython-39.pyc
ultralytics/data/explorer/__pycache__/explorer.cpython-39.pyc
ultralytics/data/explorer/__pycache__/utils.cpython-39.pyc
ultralytics/engine/__pycache__/__init__.cpython-39.pyc
ultralytics/engine/__pycache__/exporter.cpython-39.pyc
ultralytics/engine/__pycache__/model.cpython-39.pyc
ultralytics/engine/__pycache__/predictor.cpython-39.pyc
ultralytics/engine/__pycache__/results.cpython-39.pyc
ultralytics/engine/__pycache__/trainer.cpython-39.pyc
ultralytics/engine/__pycache__/validator.cpython-39.pyc
ultralytics/hub/__pycache__/__init__.cpython-39.pyc
ultralytics/hub/__pycache__/auth.cpython-39.pyc
ultralytics/hub/__pycache__/session.cpython-39.pyc
ultralytics/hub/__pycache__/utils.cpython-39.pyc
ultralytics/models/__pycache__/__init__.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/__init__.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/model.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/predict.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/prompt.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/utils.cpython-39.pyc
ultralytics/models/fastsam/__pycache__/val.cpython-39.pyc
ultralytics/models/nas/__pycache__/__init__.cpython-39.pyc
ultralytics/models/nas/__pycache__/model.cpython-39.pyc
ultralytics/models/nas/__pycache__/predict.cpython-39.pyc
ultralytics/models/nas/__pycache__/val.cpython-39.pyc
ultralytics/models/rtdetr/__pycache__/__init__.cpython-39.pyc
ultralytics/models/rtdetr/__pycache__/model.cpython-39.pyc
ultralytics/models/rtdetr/__pycache__/predict.cpython-39.pyc
ultralytics/models/rtdetr/__pycache__/train.cpython-39.pyc
ultralytics/models/rtdetr/__pycache__/val.cpython-39.pyc
ultralytics/models/sam/__pycache__/__init__.cpython-39.pyc
ultralytics/models/sam/__pycache__/amg.cpython-39.pyc
ultralytics/models/sam/__pycache__/build.cpython-39.pyc
ultralytics/models/sam/__pycache__/model.cpython-39.pyc
ultralytics/models/sam/__pycache__/predict.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/__init__.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/decoders.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/encoders.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/sam.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/tiny_encoder.cpython-39.pyc
ultralytics/models/sam/modules/__pycache__/transformer.cpython-39.pyc
ultralytics/models/yolo/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/__pycache__/model.cpython-39.pyc
ultralytics/models/yolo/classify/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/classify/__pycache__/predict.cpython-39.pyc
ultralytics/models/yolo/classify/__pycache__/train.cpython-39.pyc
ultralytics/models/yolo/classify/__pycache__/val.cpython-39.pyc
ultralytics/models/yolo/detect/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/detect/__pycache__/predict.cpython-39.pyc
ultralytics/models/yolo/detect/__pycache__/train.cpython-39.pyc
ultralytics/models/yolo/detect/__pycache__/val.cpython-39.pyc
ultralytics/models/yolo/obb/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/obb/__pycache__/predict.cpython-39.pyc
ultralytics/models/yolo/obb/__pycache__/train.cpython-39.pyc
ultralytics/models/yolo/obb/__pycache__/val.cpython-39.pyc
ultralytics/models/yolo/pose/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/pose/__pycache__/predict.cpython-39.pyc
ultralytics/models/yolo/pose/__pycache__/train.cpython-39.pyc
ultralytics/models/yolo/pose/__pycache__/val.cpython-39.pyc
ultralytics/models/yolo/segment/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/segment/__pycache__/predict.cpython-39.pyc
ultralytics/models/yolo/segment/__pycache__/train.cpython-39.pyc
ultralytics/models/yolo/segment/__pycache__/val.cpython-39.pyc
ultralytics/models/yolo/world/__pycache__/__init__.cpython-39.pyc
ultralytics/models/yolo/world/__pycache__/train.cpython-39.pyc
ultralytics/nn/__pycache__/__init__.cpython-39.pyc
ultralytics/nn/__pycache__/autobackend.cpython-39.pyc
ultralytics/nn/__pycache__/tasks.cpython-39.pyc
ultralytics/nn/modules/__pycache__/__init__.cpython-39.pyc
ultralytics/nn/modules/__pycache__/block.cpython-39.pyc
ultralytics/nn/modules/__pycache__/conv.cpython-39.pyc
ultralytics/nn/modules/__pycache__/head.cpython-39.pyc
ultralytics/nn/modules/__pycache__/transformer.cpython-39.pyc
ultralytics/nn/modules/__pycache__/utils.cpython-39.pyc
ultralytics/utils/__pycache__/__init__.cpython-39.pyc
ultralytics/utils/__pycache__/autobatch.cpython-39.pyc
ultralytics/utils/__pycache__/checks.cpython-39.pyc
ultralytics/utils/__pycache__/dist.cpython-39.pyc
ultralytics/utils/__pycache__/downloads.cpython-39.pyc
ultralytics/utils/__pycache__/errors.cpython-39.pyc
ultralytics/utils/__pycache__/files.cpython-39.pyc
ultralytics/utils/__pycache__/instance.cpython-39.pyc
ultralytics/utils/__pycache__/loss.cpython-39.pyc
ultralytics/utils/__pycache__/metrics.cpython-39.pyc
ultralytics/utils/__pycache__/ops.cpython-39.pyc
ultralytics/utils/__pycache__/patches.cpython-39.pyc
ultralytics/utils/__pycache__/plotting.cpython-39.pyc
ultralytics/utils/__pycache__/tal.cpython-39.pyc
ultralytics/utils/__pycache__/torch_utils.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/__init__.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/base.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/clearml.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/comet.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/dvc.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/hub.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/mlflow.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/neptune.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/raytune.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/tensorboard.cpython-39.pyc
ultralytics/utils/callbacks/__pycache__/wb.cpython-39.pyc
images_deteted/.ipynb_checkpoints/MVIMG_20240628_131245-checkpoint.jpg
images/
images_deteted/
images_for_detection/
jg_detection/data/